<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <style>
            .data-block
            {
                background-color: #EEEEEE;
                margin-bottom: 10px;
                padding: 5px;
                width: auto;
            }

            .data-info
            {
                margin: 0;
            }
        </style>
    </head>

    <body>
        <form action="/" method="POST">
            <input type="text" name="user" placeholder="Username">
            <input type="password" name="pass" placeholder="Password">
            <input type="submit" value="Submit">
        </form>
        <br>
        {% for u in user_list %}
        <div class="data-block">
            <p class="data-info">UID: {{ u.uid }}</p>
            <p class="data-info">Username: {{u.username}}</p>
            <p class="data-info">Password: {{u.password}}</p>
        </div>
        {% endfor %}
    </body>
</html>